In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./bird_strikes_clean.csv')
df

,altitude_bin,aircraft_make_model,wildlife_number_struck_actual,effect_impact_to_flight,effect_indicated_damage,aircraft_number_of_engines,when_phase_of_flight,conditions_precipitation,remains_of_wildlife_collected,wildlife_size,conditions_sky,pilot_warned_of_birds_or_wildlife,feet_above_ground,is_aircraft_large
0,0,0,3,0,1,1.0,0,0,0,0,0,1,1000,0
1,0,0,10,1,0,1.0,1,0,0,1,1,0,20,0
2,0,0,4,1,0,1.0,1,0,0,1,1,0,100,0
3,0,0,5,1,1,1.0,0,0,0,1,1,0,150,0
4,0,1,6,1,1,1.0,1,0,0,1,0,0,100,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25553,0,313,1,1,0,2.0,1,0,1,1,2,0,20,0
25554,0,349,1,1,0,2.0,2,0,0,1,1,0,0,0
25555,0,248,1,0,1,2.0,0,0,0,1,1,0,800,0
25556,0,350,1,1,0,2.0,3,0,0,1,1,0,0,0
25557,0,248,1,1,0,2.0,0,0,0,1,1,0,50,0

In [5]:
ds_bst.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25558 entries, 0 to 25557
Data columns (total 14 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   altitude_bin                       25558 non-null  int64
 1   aircraft_make_model                25558 non-null  int64
 2   wildlife_number_struck_actual      25558 non-null  int64
 3   effect_impact_to_flight            25558 non-null  int64
 4   effect_indicated_damage            25558 non-null  int64
 5   aircraft_number_of_engines         25558 non-null  float64
 6   when_phase_of_flight               25558 non-null  int64
 7   conditions_precipitation           25558 non-null  int64
 8   remains_of_wildlife_collected      25558 non-null  int64
 9   wildlife_size                      25558 non-null  int64
 10  conditions_sky                     25558 non-null  int64
 11  pilot_warned_of_birds_or_wildlife  25558 non-null  int64
 12  feet_above_ground                  25558 non-null  int64
 13  is_aircraft_large                  25558 non-null  int64
dtypes: float64(1), int64(13)
memory usage: 2.7 MB