# 11. Manipulación de datos

En Aprendizaje Automático es muy importante manipular las bases de datos. El éxito de un buen aprendizaje radica en la calidad de la base de datos que se tenga. En este documento explicaremos algunas funciones útiles para manipular datos.

In [ ]:
import pandas as pd

## 11.1 Unión de dataframes

Crearemos dos dataframes que compartan una columna y después las uniremos utilizando la función $merge()$.

## 11.2 Concatenación de datos

A veces es necesario, manipular los datos y guardarlos en un array para ser manipulados posteriormente por los algoritmos de aprendizaje automático.

In [ ]:
import numpy as np

### 11.2.1 Concatenar arrays

### 11.2.2 Concatenar Series

In [ ]:
#Crear dos series

In [ ]:
#Concatenar series

### 11.2.3 Concatenar Dataframes

In [ ]:
#Crear dataframes

In [ ]:
#Concatenar los dataframes

In [ ]:
#Concatenar los dataframes ignorando los índices

## 11.3 Combinar Dataframes

In [ ]:
#Crear dos dataframes

## 11.4 Eliminar duplicados en Dataframes

In [ ]:
#Crear dataframe

In [ ]:
#Eliminar filas duplicadas

In [ ]:
#Eliminar duplicados por columna

In [ ]:
#Eliminar duplicados por columna pero manteniendo el último valor

## 11.5 Agrupar datos en categorías

## 11.6 Filtrar datos en DataFrame

In [ ]:
#Crear dataframe

## 11.7 Combinar Dataframes

In [ ]:
# Crear el dataframe

In [ ]:
#Generar una combinación aleatoria del 0 al 4 (5-1)

## 11.8 Agrupar Dataframes

In [ ]:
#Crear el dataframe

In [ ]:
#Agrupar los datos de la columna 'datos1' utilizando la columna 'clave1'

In [ ]:
#Calcular el promedio de cada grupo

## 11.9 Agregar en Dataframes

In [ ]:
#Crear dataframe