### IS727272 - Cordero Hern√°ndez, Marco Ricardo

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

from keras.models import Sequential
from keras.layers import Dense

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Concrete/concrete_data.csv')
data.head()

,cement,blast_furnace_slag,fly_ash,water,superplasticizer,coarse_aggregate,fine_aggregate,age,concrete_compressive_strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [ ]:
dataset = np.array(data)

x = dataset[:, 0 : -1]
y = dataset[:, -1]

print(f'x: {x.shape}')
print(f'y: {y.shape}')

x: (1030, 8)
y: (1030,)

In [ ]:
scaler = StandardScaler()
scaler.fit(x)
X = scaler.transform(x)
print(X)

[[ 2.47791487 -0.85688789 -0.84714393 ...  0.86315424 -1.21767004
  -0.27973311]
 [ 2.47791487 -0.85688789 -0.84714393 ...  1.05616419 -1.21767004
  -0.27973311]
 [ 0.49142531  0.79552649 -0.84714393 ... -0.52651741 -2.24091709
   3.55306569]
 ...
 [-1.27008832  0.75957923  0.85063487 ... -1.03606368  0.0801067
  -0.27973311]
 [-1.16860982  1.30806485 -0.84714393 ...  0.21464081  0.19116644
  -0.27973311]
 [-0.19403325  0.30849909  0.3769452  ... -1.39506219 -0.15074782
  -0.27973311]]

In [ ]:
# Split train and test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 0)
print(f'Training: {X_train.shape} {y_train.shape}')
print(f'Testing: {X_test.shape} {y_test.shape}')

Training: (721, 8) (721,)
Testing: (309, 8) (309,)

In [ ]:
# Neural network
r, c = np.shape(X_train)

model = Sequential()
model.add(Dense(5, activation = 'relu', input_dim = c))
model.add(Dense(400, activation = 'relu'))
model.add(Dense(1))

model.compile(optimizer = 'adam', loss = 'mean_squared_error')

In [ ]:
model.fit(X_train, y_train, batch_size = 20, epochs = 5000, verbose = 0)

In [ ]:
score_train = model.evaluate(X_train, y_train, verbose = 0)
print(f'Train loss: {score_train}')

score_test = model.evaluate(X_test, y_test, verbose = 0)
print(f'Test loss: {score_test}')

Train loss: 7.120070457458496
Test loss: 31.13766098022461